.HeroComponent {
  background-image: url("../../assets/pizza-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80vh;
  max-height: 700px;
  // border: solid 1px red;
  background-position: 0 0;
  margin-top: 70px;
  display: flex;

  .text-div {
    // border: solid 1px;
    margin: auto 0;
    margin-left: auto;

    height: 400px;
    width: 550px;
    color: rgb(250, 250, 0);
    text-shadow: 1px 1px 3px rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;

    .red-text {
      color: rgb(242, 34, 34);
    }

    p {
      font-size: 20px;
      padding: 0;
      margin: 0;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    h1 {
      margin: 0;
      font-size: 80px;
    }

    button {
      background-color: rgb(242, 34, 34);
      color: #fff;

      svg {
        margin: 0 5px;
      }
    }
    z-index: 2;
  }
  .cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  @media (max-width: 1024px) {
    .text-div {
      width: 400px;
      p {
        font-size: 18px;
      }
      h1 {
        font-size: 65px;
      }
    }
  }
  position: relative;
  @media (max-width: 768px) {
    .text-div {
      width: 80%;
      text-align: center;
      margin: auto;
      p {
        font-size: 16px;
      }
      h1 {
        // border: solid;
        text-align: center;
        font-size: 50px;
      }
      button {
        margin: auto;
      }
    }
  }
}
